


       <!--optional icons
        <p><a class="btn btn-social-icon btn-facebook pull-right">
                <i class="fa fa-2x fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-linkedin pull-right" href="https://ca.linkedin.com/pub/amanda-field/b4/7aa/843" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);">
                <i class="fa fa-2x fa-linkedin-square"></i></a>
            <a class="btn btn-social-icon btn-twitter pull-right">
                <i class="fa fa-2x fa-twitter"></i>
            </p> 
            
             </a> -->
             
             
      <div id="footer" class=" navbar-fixed-bottom">
           <a id ="banana" class="btn btn-warning pull-right" href="/login">
            
            Login

           </a>
      </div>

</body>
</html>
<!-- Dec 10th Amanda - Add in login button to footer -->
