


       <!--optional icons
        <p><a class="btn btn-social-icon btn-facebook pull-right">
                <i class="fa fa-2x fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-linkedin pull-right" href="https://ca.linkedin.com/pub/amanda-field/b4/7aa/843" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-linkedin']);">
                <i class="fa fa-2x fa-linkedin-square"></i></a>
            <a class="btn btn-social-icon btn-twitter pull-right">
                <i class="fa fa-2x fa-twitter"></i>
            </p> 
            
             </a> -->
             
             
<!--       <div id="footer" class=" navbar-fixed-bottom">
           <a id ="banana" class="btn btn-warning pull-right" href="/login">
            
            Login

           </a>
      </div> -->


<!-- new footer built by Ari 0427 10 12 2015 -->
<!-- Spacing was fixed to shrink file size
links to all contributors facebook pages
should link other social media accounts as well
this needs to be styled and the previous blocks of unused code need to be removed
I am leaving them here for now -->
  <footer class="bs-docs-footer">
    <div class="container">
      <ul class="bs-docs-footer-links">
        <li><a href="https://github.com/jcdj1996/AWP-Assign4">Github</a></li>
        <li><a href="https://awp-assign4.herokuapp.com/">Heroku</a></li>
        <li><a href="https://www.facebook.com/groups/412154522312902/?fref=nf">Facebook</a></li>
      </ul>
      <p>Designed and built by 
      <a href="https://www.facebook.com/amanda.j.field?fref=ts">Amanda Field</a>
      <a href="https://www.facebook.com/JimmyJenningsHMESgrad2010">James Jennings</a>
      <a href="https://www.facebook.com/harry.chickpea45">Aristotle Rovithis</a>
      <a href="https://www.facebook.com/karen.wetzelspringford?fref=ts">Karen Stringford</a>
      <br/>It was kinda rushed but we figured it out as we went along</p>

    </div>
  </footer>
<!-- new footer built by Ari 0427 10 12 2015 -->
</body>
</html>
<!-- Dec 10th Amanda - Add in login button to footer -->
<!-- new footer built by Ari 0427 10 12 2015 -->