<%- include ../public/partials/header.ejs %>
	
	<!-- Render the Registration form  -->
	<main class="container">
		<h1>Registration</h1>
		<div class="container-fluid">
			<div id="register">
			<form method="post">
				<fieldset class="form-group">
					<label for="companyName">Company Name: *</label>
					<input name="companyName" type="name" class="form-control" />
				</fieldset>
				
				<fieldset class="form-group">
					<label for="email">Email: *</label>
					<input name="email" type="email" required class"form-control"/>
				</fieldset>
				
				<fieldset class="form-group">
					<label for="username">Username: *</label>
					<input name="username" type="text" class="form-control" required />
				</fieldset>
				
				<fieldset class="form-group">
					<label for="password">Password: *</label>
					<input name="password" type="password" class="form-control" required />
				</fieldset>
				<fieldset class="form-group text-right">
					<input type="submit" class="btn btn-success" value="Submit"/>
				</fieldset>
			</form>
			</div>
		</div>
	</main>
<%- include ../public/partials/footer.ejs %>

<!--KarenS - Dec2/15 - started -- worked on again Dec8 -->