<% include partials/header.ejs %>	
	
	<!-- Render the Registration form  -->
	<main class="container">
	
	<!-- Display flash messages  -->
	<% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
		
		<h1>Registration</h1>
		<div class="col-sm-4">
			<form method="post">
				<fieldset class="form-group">
					<label for="companyName">Company Name: *</label>
					<input name="companyName" type="name" class="form-control" />
				</fieldset>
				
				<fieldset class="form-group">
					bel for="email">Email: *</label>
					<input name="email" type="email" required class"form-control"/>
				</fieldset>
				
				<fieldset class="form-group">
					<label for="username">Username: *</label>
					<input name="username" type="text" class="form-control" required />
				</fieldset>
				
				<fieldset class="form-group">
					<label for="password">Password: *</label>
					<input name="password" type="password" class="form-control" required />
				</fieldset>
				<fieldset class="form-group text-right">
					<input type="submit" class="btn btn-success" value="Submit"/>
				</fieldset>
			</form
		</div>
	</main>
<% include partials/footer.ejs %>

<!--KarenS - Dec2/15
Just started building this registration page.  
Haven't addded it into the header, or adjust the routes to direct to this page.-->