<%- include ../public/partials/header.ejs %>

  <h1>Submit</h1>
  <p>Choose which kind of question you would like to ask</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#two">Two Options</a></li>
    <li><a data-toggle="tab" href="#five">Five Options</a></li>
  </ul>

  <div class="tab-content">
  <div id="two" class="tab-pane fade in active">
     <br/>
     <form>
	<label for="question">Question: </label>
	<input type="text" name="question"/><br/>
	<label for="option0">Option 0: </label>
	<input type="text" name="option0"/><br/>
	<label for="option1">Option 1: </label>
	<input type="text" name="option1"/><br/>
	<input type="submit" value="Save"/>
    </form>
  </div>
  <div id="five" class="tab-pane fade">
 <br/>
     <form>
	<label for="question">Question: </label>
	<input type="text" name="question"/><br/>
	<label for="option0">Option 0: </label>
	<input type="text" name="option0"/><br/>
	<label for="option1">Option 1: </label>
	<input type="text" name="option1"/><br/>
	<label for="option2">Option 2: </label>
	<input type="text" name="option2"/><br/>
	<label for="option2">Option 3: </label>
	<input type="text" name="option3"/><br/>
	<label for="option2">Option 4: </label>
	<input type="text" name="option4"/><br/>
	<input type="submit" value="Save"/>
    </form>
  </div>
</div>
<%- include ../public/partials/footer.ejs %>
