<% include partials/header.ejs %>
    <div class="container-fluid" ng-app="survey-site" ng-controller="MainCtrl">
    <div class="page-header" id="title">Go Ahead - It's Simple</div>
    <!-- div class="well" -->
      <div class="jumbotron" ng-repeat="post in posts">
        <h3>{{post}}</h3>
      </div>
    </div>
<% include partials/boot.ejs %>
<% include partials/footer.ejs %>
<!-- Dec 10th Amanda - moved controller to container div -->