<%- include partials/header.ejs %>
<!-- Render the Registration form  -->
<main class="container">
  <div class="page-header" id="title">Registration</div>
  <div class="jumbotron"> <!--container-fluid -->
    <!-- Display flash messages  -->
    <!--<div id="register"> -->
    <form method="post">
      <fieldset class="form-group">
        <label for="displayName">Display Name: *</label>
        <input name="displayName" type="text" class="form-control" id="registrationForm" required />
      </fieldset>
      <fieldset class="form-group">
        <label for="email" style="display: inline;">Email: *</label>
        <input name="email" type="email" required class="form-control" id="registrationForm" required/>
      </fieldset>
      <fieldset class="form-group">
        <label for="username" style="display: inline;">Username: *</label>
        <input name="username" type="text" class="form-control" id="registrationForm" required />
      </fieldset>
      <fieldset class="form-group">
        <label for="password" style="display: inline;">Password: *</label>
        <input name="password" type="password" class="form-control" id="registrationForm" required />
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-danger" value="Submit"/>
      </fieldset>
    </form>
    <!-- </div> -->
  </div>
</main>
<%- include partials/boot.ejs %>
<%- include partials/footer.ejs %>
<!--KarenS - Dec2/15 - started -- worked on again Dec8 -->
<!-- Dec 10th - Amanda -- Added styling and functionality -->
<!-- Shrunk code 0500 15 dec 2015 Ari -->